.portfolio {
  padding-top: 120px;
  &__title {
    position: relative;
    text-align: center;
    @include before_circle;
    &:before {
      top: -5;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    text-align: center;
  }
  &__works {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px); //TODO: 2 ряда по 280 , и 4 столбика по 280
    grid-auto-rows: 280px; //TODO: если добавят дополнительное то тоже 280
    gap: 5px;
    .vertical {
      grid-row: 1 / 3; //! От 1 линии с верху до 3 внизу - 2 ячейки
      grid-column: 4 / 5; //! От 4 линии столбиком (вертикаль) до 5
    }
    .horizontal {
      grid-row: 2 / 3;
      grid-column: 2 / 4;
    }
  }
  &__item {
    transition: all 0.6s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      filter: invert(75%) blur(1px);
    }
  }
}
