.resume {
  padding-top: 120px;
  &__title {
    position: relative;
    text-align: center;
    @include before_circle;
    &:before {
      top: -5;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    text-align: center;
  }
  &__wrapper {
    padding: 60px 65px 0 65px;
    display: grid;
    //! Пробел между repeat ( <<<<НЕЛЬЗЯ ставть
    grid-template-columns: repeat(2, 425px); //TODO: 2 колонки шириной по 425px
    column-gap: 135px;
  }
  &__column {
    &-title {
      position: relative;
      padding-left: 35px;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;
        left: -7px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    ul {
      list-style-type: none;
      li {
        position: relative;
        &::after {
          content: "";
          width: 1px;
          height: calc(100% + 15.5px);
          position: absolute;
          top: -15.5px;
          left: 0;
          background-color: black;
        }
      }
    }
  }
  &__item {
    position: relative;
    &:before {
      content: "";
      height: 1px;
      width: 43px;
      top: 37px;
      position: absolute;
      background-color: black;
    }
    //  <div class="resume__item">
    // <div class="resume__item-head">

    &-head {
      position: relative;
      padding: 15px 0 0 100px;
    }
    &-body {
      padding: 12px 0 0 43px;
      font-size: 12px;
      line-height: 18px;
    }
    &-icon {
      position: absolute;
      top: 20px;
      left: 43px;
      @include before_circle;
      img {
        position: absolute;
        left: 17px;
        top: 14px;
      }
    }
    &-location {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
